# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/ 
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
.gradle/

# Unity Package Manager cache (safe to regenerate)
Packages/PackageCache/

# IDE / project files
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local-only Terrain demo content
Assets/TerrainDemoScene_URP/
Assets/TerrainDemoScene_URP.meta

# Ignore Dissolve FX package
Assets/INab Studio/

# Local-only animation tests
Assets/Animations/DoubleL/
Assets/Animations/SwordShieldAnimations

# Unity cache/artifacts
# Keep Assets and ProjectSettings!
