# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/ 
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
.gradle/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Unity cache/artifacts
# Keep Assets and ProjectSettings!
